<% if @post.errors.present? %>
	<% @post.errors.full_messages.each do |msg| %>
		<p><%= msg %></p>
	<% end %>
<% end%>

<%= form_for @post do |f| %>
<p>
	<%= f.label :bru_name %><br>
	<%= f.text_field :bru_name %>
</p>
<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :body %><br>
	<%= f.text_field :body %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>